<footer class="footer" [ngClass]="{hidden:  noTodoClass$ | async}" >
    <span class="todo-count">
        <strong>{{activeClassCounter | async }}</strong>
        {{itemLeftLabel | async }}
    </span>

    <ul class="filters">
        
                <li>
                    <a href="/" 
                    [ngClass]="{selected: (filter$ | async) === filterEnum.all}" 
                    (click)="filterClicked($event, filterEnum.all)">
                        All
                    </a>
                </li>
        
                <li>
                    <a href="/" 
                    [ngClass]="{selected: (filter$ | async) === filterEnum.active}" 
                    (click)="filterClicked($event, filterEnum.active)">
                        Active
                    </a>
                </li>
        
                <li>
                    <a href="/" 
                    [ngClass]="{selected: (filter$ | async) === filterEnum.completed}" 
                    (click)="filterClicked($event, filterEnum.completed)">
                        Completed
                    </a>
                </li>
    </ul>
</footer>